<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Ninja | <%= title %></title> <!--injects a value that we render in responce as dynamic content-->
  <!--static files like css, text, etc.have to being kept in 'public' folder so we can access to them from browser-->
  <link rel="stylesheet" href="/styles.css">
</head>