<!--Templates instead of html-->
<html lang="en">
  
<!--includes head that stored in head.ejs-->
<%- include ('./partials/head.ejs') %>

<body>
  <!--includes nav that stored in nav.ejs-->
  <%- include ('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
  </div>

  <!--includes footer that stored in footer.ejs-->
  <%- include ('./partials/footer.ejs') %>
</body>
</html>